*/
*.sh
*.txt
*.json
*.log
!.gitignore
!requirements.txt
!deepthulac/
!deepthulac/seg
!deepthulac/eval
!deepthulac/seg/configs
!deepthulac/seg/configs/*
!deepthulac/legacy
!deepthulac/legacy/**
deepthulac/legacy/models
__pycache__/
!data/seg/train.txt
!data_raw
data_raw/data_clean.py
data_raw/chat*.py
data_raw/cws_samples.jsonl
deepthulac/seg/configs/paper
deepthulac/seg/configs/seg/seg-part.yaml
deepthulac/seg/configs/seg/seg_punc_dict_pretrain_ancient.yaml
*[0-9].yaml